INBOX | OUTBOX | TRASH
<hr>

<table class="table table-hover">
  <th width="15%">
    Sent
  </th>
  <th width="15%">
    Sender
  </th>
  <th width="50%">
    Subject
  </th>
  <th width="20%">
    Actions
  </th>
  <tr>
    <td>
      Friday
    </td>
    <td>
      John Doe
    </td>
    <td>
      Project
    </td>
    <td>
      Reply Delete
    </td>
  </tr>
</table>
