<div class="row text-center  col-lg-6 col-lg-offset-3 col-md-6 col-xs-12">
  <h2 class="text-center text-lead">Send a message to <%= @user.fullname %></h2>
  <div class="authform">
    <%= render 'form' %>
  </div>
</div>
