<div id="paginator-comments-top" class="text-center">
  <%= render partial: 'layouts/paginator', 
              locals: { context: @comments, 
                 context_string: 'comments' } %>
</div>

<div id="comments">
  <%= render partial: 'comments/comment_panel', 
          collection: @comments, 
                  as: :comment %>
</div>

<div id="paginator-comments-bottom" class="text-center">
  <%= render partial: 'layouts/paginator', 
              locals: { context: @comments, 
                 context_string: 'comments' } %>
</div>