<br>
<%= image_tag attachments['logo.png'].url %>
<hr>
<p>
  This is an automated message. Please do not reply directly.
  If you have any questions please contact us <%= mail_to 'lance@openbid.contractors', 'here' %>.
</p>
<h4>
  OPENBID ™ <%= Time.now.year %>
</h4>
