<h4>
  Thank you for signing up on OPENBID!
</h4>

<p>
  Your company (<%= @contractor.company_name %>) is now listed in our live
  directory. You will receive email notifications
  in real time concerning your bids and jobs.
</p>

===============================================

OPENBID © <%= Time.now.year %>
