<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>
      Thank you for signing up on OPENBID!
    </h4>

    <p>
      Your company (<%= @contractor.company_name %>) is now listed in our live
      directory. You will receive email notifications
      in real time concerning your bids and jobs.
    </p>

    <%= render '/welcome_mailer/footer.html.erb' %>
  </body>
</html>
