<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">
        <%= render 'sidebar' %>
        <div class="col-sm-9 col-md-10 main">
            <!--toggle sidebar button-->
            <p class="visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                </button>
            </p>
            <%= render 'conversation' %>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('[data-toggle=offcanvas]').click(function() {
            $('.row-offcanvas').toggleClass('active');
        });
    }); 
</script>
