<div class="row">
    <%= render 'sidebar' %>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 col-lg-10 main" id="inbox_main">
        <h1>Start Conversation</h1>
        <%= render 'form' %>
    </div>
</div>
