<div class="row">
	<div class="col-xs-12">
		<%= render 'jobs/job_panel', job: @job %>
	</div>
</div>
<div class="row">
	<div class="form-actions-submit">
    <%= link_to 'Back', current_contractor, class: 'submit' %>
	</div>
</div>
