<div class="row">
  <div class="col-xs-12">
    <%= render 'job_panel', job: @job %>
  </div>
  <div class="row">
    <div class="job_return_links">
      <ul class="list-inline">
        <li><%= link_to 'Back to profile', current_contractor || current_user, class: 'contractor_submit' %></li>
      </ul>
    </div>
  </div>
</div>