<!-- Job Modal -->
<div class="modal" 
     id="myJobModal-<%= job.id %>" 
     tabindex="-1" 
     role="dialog" 
     aria-labelledby="myJobModalLabel" 
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center" id="myJobModalLabel"><%= job.title %></h4>
      </div>
      <div class="modal-body">
        <% if job.uploads.count > 0 %>
          <%= image_tag job.uploads.first.image_before(:original), class: 'img-rounded img-responsive' %>
          <%# if job.image_before.processing? %>
            <h4 class="text-center lead">
              Image is processing.<br> Refresh page in a few seconds.
            </h4>
          <%# end %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default submit" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>