<ul class="list-inline categories">
    <li>
      <span class="label label-<%= %w(default primary success info warning danger).sample %>">
        <%= job.category.first %>
      </span>
    </li>
</ul>