<table id="jobs-table" data-source="<%= jobs_path(format: :json) %>" class="display responsive no-wrap table table-hover table-striped">
  <thead class="lead">
    <td>Title</td>
    <td>Categories</td>
    <td>Description</td>
    <td>Address</td>
  </thead>
  <tbody>
  </tbody>
</table>
