<table class="table table-striped table-hover table-bordered text-center">
  <thead class="lead">
    <td>Title</td>
    <td>Description</td>
    <td>Zip code</td>
    <td>User</td>
    <td>Updated</td>
  </thead>
  <tbody>
    <%= render partial: 'jobs', 
            collection: @jobs, 
                    as: :job %>
  </tbody>
</table>