<div class="row">
	<%= render partial: 'layouts/job_form', locals: { member: @user, job: @job, type: 'job' } %>
</div>
<hr>
<div class="row">
	<div class="form-actions-submit">
    <%= link_to 'Back', current_user, class: 'submit' %>
	</div>
</div>
