<div class="row">
	<h2 class="text-center">New Job</h2>
	<%= render 'form' %>
</div>
<hr>
<div class="row">
	<div class="form-actions-submit">
    <%= link_to 'Back', current_user, class: 'submit' %>
	</div>
</div>
