<% title "Post Job" %>

<div class="container">
	<%= render partial: 'layouts/job_form', locals: { job: @job, type: 'job' } %>
	<hr>
	<div class="form-actions-submit">
    <%= link_to 'Back', current_user, class: 'submit' %>
	</div>
</div>
