<p>
  If you wish to accept this bid please
  <%= link_to 'log into', 'http://www.openbid.contractors/users/sign_in', target: '_blank' %>
  your account. If you have specific questions contact this contractor directly:
  <%= mail_to @contractor.email, @contractor.company_name %>.
</p>

<% if @bid.pdf.present? %>
  <p><%= link_to 'Bid attachment', @bid.pdf.url, class: 'unstyled-link', target: '_blank' %></p>
<% end %>
