<div class="row">
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
		<%= render partial: 'layouts/profile_sidebar', locals: { member: @user } %>
	</div>
	<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
		<hr class="visible-xs">
		<h3 class="lead text-center">
			<%= link_to 'Post a New Job', new_job_path, 
																		class: 'btn btn-lg btn-success' if current_user == @user %>
		</h3>
		<hr class="visible-xs">
		<% @jobs.each do |j| %>
			<%= render 'jobs/job_panel', job: j %>
		<% end %>
	</div>	
</div>