<% title "All Categories" %>

<div class="row">
	<div class="col-md-12">
		<h1 class="text-center lead">Contractors and Jobs: All Categories</h1>
		<br>
		<table class="table table-striped table-hover table-bordered text-center">
		  <thead class="lead">
		    <td>Category</td>
		    <td>Available Contractors</td>
		    <td>Open Jobs</td>
		  </thead>
		    <tbody>
					<%= render partial: 'pages/_categories',
									collection: Contractor.categories,
													as: :category %>
			  <tbody>
		 </table>
	</div>
</div>
