<% content_for :title do %>Categories<% end %>

<div class="row">
	<div class="col-md-3">
		<h1 class="text-capitlize">Categories</h1>
	</div>
	<div class="col-md-9">
		<br>
		<p>OPENBID was created by professionals in the technology and food industries.  We’re dedicated to customer service and stand behind our product.  Your privacy is our utmost concern and we do everything possible to earn your trust.  OPENBID is based in Bakersfield, CA. We greatly appreciate your feedback. Please contact us with questions or to set up a meeting.
		</p>
		<p>A message from the founder Lance Schwarzkopf, ” I’ve worked for large companies in the food industry for the better part of a decade.  I understand the difficulty of managing requests from ingredient and equipment suppliers.   I  have also worked as an independent research and development consultant.   I’m very familiar with the amount of time it takes to find new customers and write quotes.  OPENBID is our way of making business between customers and contractors more efficient for all parties involved.  It would be great to hear from you <%= link_to 'contact us', new_contact_path, class: 'text-uppercase' %>.
		</p>
		<br>
		<div class="text-center">
			<%= link_to	'User Registeration', new_user_registration_path, 
																 	 			class: 'btn btn-success text-center pull-left' %>
		</div>
		<br>
	</div>
</div>