<% title 'All Categories' %>
<div class="row">
	<div class="col-md-8 col-md-offset-2 col-sm-12">
		<h1 class="text-center lead">
			<%= link_to 'Contractors', contractors_path, class: 'unstyled-link' %> and
			<%= link_to 'Jobs', jobs_path, class: 'unstyled-link' %>: All Categories
		</h1>
		<br>
		<table id="all_categories" class="display responsive no-wrap table table-hover table-striped">
		  <thead class="lead">
		    <td>Category</td>
		    <td>Available Contractors</td>
		    <td>Open Jobs</td>
		  </thead>
		    <tbody>
					<%= render partial: 'pages/_categories',
									collection: Contractor.categories,
													as: :category %>
			  <tbody>
		 </table>
	</div>
</div>
