<% content_for :title do %>How it works<% end %>

<div class="row" id="static">
	<div class="col-lg-12">
		<div class="col-md-3">
			<h1 class="text-capitalize text-center">How it works</h1>
		</div>
		<div class="col-md-9">
			<br>
			<p>OPENBID is a free site for finding contractors for your toughest projects. OPENBID automates the traditional quote writing process. Users  can post a job or project with details of what needs to be completed and when it needs to be finished. Users can add photos, select a category, and add more details of the job. The price is typically left open for bid. All contact information is hidden until the user decides to share it with a potential contractor.
			</p>
			<p>Contractors can search the posted jobs by category and filter by distance. Contractors can view the post and examine the requirements of the project. If interested they can submit a bid or quote for the work.  Contractors can also specify email notifications for jobs posted in categories of interest.
			</p>
			<p>OPENBID organizes all submitted quotes in your personal dashboard. The poster can view the quotes, click on the profiles of the applicants, and communicate directly with contractors.
			</p>
			<h3>The process is easy:</h3>
			<ol>
				<li>Create an account for free.</li>
				<li>Post a description of your project with specifications for work to be completed.</li>
				<li>Use OPENBID to manage your project by communicating with contractors.</li>
				<li>Award a winning bid.</li>
			</ol>

			<h3>Bid on jobs:</h3>
			<ol>
				<li>Create an account for free.</li>
				<li>Search jobs open for bid.</li>
				<li>Submit your bid.</li>
			</ol>
			<br>
			<div class="text-center">
				<%= link_to	'Register Here', new_user_registration_path, 
																		 class: 'btn btn-success' %>
			</div>
		</div>
	</div>
</div>