<div class="bg"></div>
<div class="jumbotron">
    <h2>FIND CONTRACTORS FOR YOUR <br> <u><strong>TOUGHEST</strong></u> <span class="green">PROJECTS</span></h2>
    <p class="lead"><%= link_to "Sign-up", new_user_registration_path, class: "btn-large btn-warning btn-custom" %></p>
</div>