<table class="table table-striped table-hover table-bordered text-center">
  <thead class="lead">
    <td>Company Name</td>
    <td>Categories</td>
    <td>Description</td>
    <td>Zip code</td>
    <td>Updated</td>
  </thead>
  <tbody>
    <%= render partial: 'contractors', collection: @contractors, as: :contractor %>
  </tbody>
</table>