<div class="container">
  <div class="row">
    <h3>Contractors</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @contractors.each do |contractor| %>
            <tr>
              <%= render contractor %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
