<div class="container">
  <div class="row">
    <h1 class="text-center lead">Contactors: <%= params[:search] %></h1>
    <div id="paginator-contractors-top" class="text-center">
      <%= paginate @contractors, remote: true,
                                  theme: 'twitter-bootstrap-3',
                             param_name: 'contractors' %>
    </div>

    <div id="contractor_index">
      <%= render 'contractor_index' %>
    </div>

    <div id="paginator-contractors-bottom" class="text-center">
      <%= paginate @contractors, remote: true,
                                  theme: 'twitter-bootstrap-3',
                             param_name: 'contractors' %>
    </div>
  </div>
</div>


