<div class="container">
  <div class="row">
    <h1 class="text-center lead">Contactors: <%= params[:search] %></h1>
    <div id="paginator-contractors-top" class="text-center">
      <%= render partial: 'layouts/paginator', locals: { context: @contractors, context_string: 'contractors' } %>
    </div>

    <div id="contractor_index">
      <%= render 'contractor_index' %>
    </div>

    <div id="paginator-contractors-bottom" class="text-center">
      <%= render partial: 'layouts/paginator', locals: { context: @contractors, context_string: 'contractors' } %>
    </div>
  </div>
</div>


