<% title "#{ params[:search].singularize } Contractors" if params[:search] %>

<div class="container">
  <div class="row col-md-10 col-md-offset-1 col-sm-12">
    <h1 class="text-center lead">Contractors: <%= params[:search] %></h1>
    <div id="contractor_index">
      <%= render 'contractor_index' %>
    </div>
  </div>
</div>
