<%= image_tag @contractor.image(:original), class: 'img-rounded pull-left' %>
<h3>Contractor</h3>
<p>Name: <%= @contractor.name if @contractor.name %></p>
<p>Email: <%= @contractor.email if @contractor.email %></p>
