<td class="text-center">
	<%= link_to image_tag(contractor.image(:thumb), class: 'img-rounded'), contractor %><br>
	<%= link_to contractor.company_name, contractor %><br>
  <%= contractor.categories.to_sentence %>
</td>
<td>
	<%= truncate(contractor.bio, length: 100)%>
</td>