<td class="text-center">
	<% if contractor.uploads.exists? %>
		<%= link_to image_tag(contractor.uploads.first.image(:thumb), class: 'img-rounded'), contractor %><br>
	<% end %>
	<%= link_to contractor.company_name, contractor %><br>
  <%= contractor.categories.to_sentence %>
</td>
<td>
	<%= truncate(contractor.bio, length: 200)%>
</td>