<td class="text-center">
 	<% if job.uploads.exists? %>
		<%= link_to image_tag(job.uploads.first.image(:thumb), class: 'img-rounded'), job %><br>
	<% end %>
	<%= link_to job.title, job %> <br>
  <%= job.categories.to_sentence %>
</td>
<td>
	<div class="text-center"><h4>test</h4></div>
	<br>
	<%= truncate(job.description, length: 100)%>
</td>