<div class="container">
  <div class="row">
    <% if @images %>
      <h2 class="text-center lead">
        <%= pluralize(@images.count, 'portfolio image') %> from <%= @contractor.fullname %>
      </h2>
      <hr>
      <div class="links text-center">
        <ul class="list-inline">
          <%= render partial: 'galleries/gallery_list',
                  collection: @images,
                          as: :image,
                      locals: { owner: @contractor } %>
        </ul>
      </div>
      <%= render 'layouts/gallery_lightbox' %>
    <% else %>
      No gallery for this contractor
    <% end %>
  </div>
</div>
