<h3 class="lead text-center">
  Please review the work
  <%= link_to @job.contractor.company_name, @job.contractor, class: 'unstyled-link' %>
  did on '<%= link_to @job.title, @job, class: 'unstyled-link' %>'
</h3>

<%= render 'form' %>
