<div class="modal"
style="display:none"
id="ajax-modal"
data-keyboard="false"
data-backdrop="false"
tabindex="-1"
role="dialog"
aria-labelledby="mySmallModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-sm">
  <div class="modal-content text-center" id="modal_content">
    <%= fa_icon 'wrench', class: 'fa-4x fa-spin ajax_wrench' %>
</div>
</div>
</div>
