<div class="job_return_links">
  <ul class="list-inline">
    <li><%= link_to 'Back to profile', 
                    current_contractor || current_user, 
                    class: 'btn btn-sm btn-warning' %></li>
  </ul>
</div>