<div class="<%= (params[:tab] == 'bids' || !params[:tab]) ?
            'tab-pane fade in active' :
            'tab-pane fade in' %>" id="bid">

  <% if @bids.present? %>
    <%= render 'layouts/bids' %>
  <% else %>
  <br>
  <h4 class="text-center">You have not placed any bids</h4>
  <% end %>
</div>
