<p class="lead text-center">
  <%= statement %>
</p>
<% @cats.in_groups_of((@cats.size/2.0).ceil, false).each do |cats| %>
  <ul class="list-unstyled col-xs-6">
    <li>
      <%= f.input :categories, as: :check_boxes,
                            label: false,
                       collection: cats %>
    </li>
  </ul>
<% end %>
