<p class="text-center lead text-danger">
<%= "Your #{ link_to('Profile', edit_registration_path(current_user || current_contractor), class: 'unstyled-link') } 
		is incomplete.".html_safe %>
<br>
Please consider improving it!
</p>