<p class="text-center lead text-danger">
	<% if current_member.is_a?(User) %>
		<%= "Your #{ link_to('Profile', edit_user_registration_path, class: 'unstyled-link') }
				is incomplete.".html_safe %>
	<% else %>
	<%= "Your #{ link_to('Profile', edit_contractor_registration_path, class: 'unstyled-link') } 
			is incomplete.".html_safe %>
	<% end %>
<br>
Please consider improving it!
</p>
