<h3 class="text-center" data-toggle="tooltip"  data-original-title="Adjust search distance in your profile">Jobs within <%= @contractor.search_radius.to_s %> miles</h3>

<div id="paginator-jobs-top" class="text-center">
  <%= render partial: 'layouts/paginator',
              locals: { context: @jobs,
                 context_string: 'jobs' } %>
</div>
<div id="jobs">
  <%= render partial: 'jobs/job_panel',
          collection: @jobs,
                  as: :job %>
</div>
<div id="paginator-jobs-bottom" class="text-center">
  <%= render partial: 'layouts/paginator',
              locals: { context: @jobs,
                 context_string: 'jobs' } %>
</div>
