<ul class="list-inline">
  <li>
    <%= f.input :latitude, disabled: true, 
                     input_html: { class: 'latitude', 
                                    data: { geo: 'lat' } } %>
    <%= f.input :latitude, as: :hidden, 
                   input_html: { class: 'latitude', 
                                  data: { geo: 'lat' } } %>                  
  </li>
  <li>
    <%= f.input :longitude, disabled: true, 
                      input_html: { class: 'longitude', 
                                     data: { geo: 'lng' } } %>
    <%= f.input :longitude, as: :hidden,
                    input_html: { class: 'longitude', 
                                   data: { geo: 'lng' } } %>
  </li>
</ul>