<h4 class="text-center">
  Average review <%= member.user? ? 'given' : 'received' %>
  for <%= pluralize(member.reviews.count, 'job') %>:
  <span class="<%= review_badge(member) %>"><%= member.review_average_total %></span>
</h4>
